{% macro serviceIcon(icon) %}
  {% if icon == "sundaySchool" %}
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M12 3L3 9v13h18V9L12 3z"/>
      <rect x="9" y="14" width="6" height="8"/>
      <path d="M10 3v3h4V3"/>
    </svg>
  {% elif icon == "memorial" %}
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <circle cx="12" cy="12" r="10"/>
      <polyline points="12 6 12 12 16 14"/>
    </svg>
  {% elif icon == "wednesdayClass" %}
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/>
      <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/>
    </svg>
  {% endif %}
{% endmacro %}
